<!DOCTYPE html>
<html lang="">
<head>
  <title>{% block page_title %}master title{% endblock %}</title>
</head>

<body id="" class="">

{% block header %}
  master header
{% endblock %}

{% block content %}
  master content
{% endblock %}

{% block footer %}
  master footer
{% endblock %}

{% block page_scripts %}
  put any scripts to be used here.
{% endblock %}
</body>
</html>
